// Colores
$color-principal: #FF5500;
$color-principal-oscuro: #C54400;
$color-rojo: #FF0000;
$color-blanco: #FFFFFF;

// Bordes
$border-gris1: 1px solid #ddd;
$border-gris2: 1px solid #ccc;

$sombra-contenedor: 0 2px 5px rgba(0, 0, 0, 0.1);

// Espacios
$espacio-pequeno: 5px;
$espacio-mediano: 10px;
$espacio-grande: 20px;
$espacio-extra-grande: 30px;

// Fuentes
$fuente-titulos: 'Courier New', monospace;
$fuente-textos: 'Verdana', sans-serif;
